<script src="/admin_assets/js/jquery.validate.min.js"></script>
<script src="/admin_assets/js/additional-methods.min.js"></script>
@using System.Data;
@using System.Data.SqlClient;
@using Microsoft.AspNetCore.Http;
@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "Entry Form";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    String doctype = Context.Request.Query["doctype"];
    String docno = Context.Request.Query["docno"];
    docno = (docno == null ? "" : docno);
    bool form = false;

    using (EzdanLibrary.DAL db = new EzdanLibrary.DAL(Configuration))
    {
        HttpContext? httpContext = Context;
        if (db.IsUserLoggedIn(httpContext))
        {
            EzdanLibrary.UserRoleClass? Session = db.GetSessionInfo(httpContext);
            String? UserId = Session.UserId;
            EzdanLibrary.DocumentSettings docSettings = new EzdanLibrary.DocumentSettings();

            List<SqlParameter> sqlParams = new List<SqlParameter>();
            sqlParams.Add(new SqlParameter("@USR_DocNo", UserId));
            sqlParams.Add(new SqlParameter("@DocType", doctype));
            sqlParams.Add(new SqlParameter("@DocNo_Value", docno));
            System.Data.DataSet ds = db.SqlDataSetResult("USP_STG_Default_List_Entry", sqlParams);
            if (ds.Tables.Count > 0)
            {
                docSettings = db.ConvertDataTableToClass<EzdanLibrary.DocumentSettings>(ds.Tables[0]);
                if (ds.Tables.Count > 1)
                {
                    if (ds.Tables[1].Rows.Count > 0)
                    docSettings.dtData = ds.Tables[1];
                    else{               
                        docSettings.dtData = null;
                     }
                    
                }
                else
                {
                    form = true;
                }

                String? entryformPartial = docSettings.DM_EntryFormPartial;
                String docNoColumn = docSettings.DM_TablePrefix + "_DocNo";
                String docTypeColumn = docSettings.DM_TablePrefix + "_DocType";
                String PostFromFormName = "EntryForm";

                String dataListURL = "/admin/MasterList?doctype=" + doctype;
                String dataListURL2 = "";
                if (docSettings.DM_DirectEntryForm_Flag == "true")
                {
                    dataListURL2 = "#";
                    PostFromFormName = "EntryForm";
                    docno = "1000";
                }
                else
                {
                    dataListURL2 = dataListURL;
                    PostFromFormName = "MasterList";
                }

                String entryFormURL = "/admin/EntryForm?doctype=" + doctype + (String.IsNullOrEmpty(docno) ? "" : "&docno=" + docno);
                entryFormURL = entryFormURL + "&DocNo_Column=" + docNoColumn + "&DocNo_Value=" + docno
                            + "&HeaderTablePrefix=" + docSettings.DM_TablePrefix + "&PostFromFormName=" + PostFromFormName;

                <div class="breadcrubs_sec">
                    <div class="row">
                        @{
                            if (dataListURL2.Equals("#") == false)
                            {
                                <div class="col-md-6">
                                    <div class="page_headding">
                                        <h5>@docSettings.DM_FormName</h5>
                                        <span><a href="/admin">Home</a> / <a href="@dataListURL2">LIST</a> / <a href="#">@docSettings.DM_FormName</a></span>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="outer-btns">
                                        <div class="page_right_add_btn">
                                            <a href="@dataListURL">
                                                <img src="@docSettings.DM_DocIcon" alt=""> View All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <div class="page_headding">
                                        <h5>@docSettings.DM_FormName</h5>
                                        <span><a href="/admin">Home</a> / <a href="#">@docSettings.DM_FormName</a></span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="delete-container" id="delete">
                        <div class="window">
                            <div class="confirm">
                                <button class="cancel">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                        <g id="Group_10111" data-name="Group 10111" transform="translate(-1397.313 -760.313)">
                                            <circle id="Ellipse_45" data-name="Ellipse 45" cx="6" cy="6" r="6" transform="translate(1397.313 760.313)" fill="rgba(0,0,0,0.14)"></circle>
                                            <line id="Line_11" data-name="Line 11" x1="3.946" y2="3.946" transform="translate(1401.34 764.34)" fill="none" stroke="#fff" stroke-width="1"></line>
                                            <line id="Line_12" data-name="Line 12" x1="3.946" y1="3.946" transform="translate(1401.34 764.34)" fill="none" stroke="#fff" stroke-width="1"></line>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="cont">
                                <div class="ic">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47">
                                        <g id="Group_10109" data-name="Group 10109" transform="translate(-0.206)">
                                            <circle id="Ellipse_44" data-name="Ellipse 44" cx="23.5" cy="23.5" r="23.5" transform="translate(0.206)" fill="#d21018"></circle>
                                            <g id="Group_10108" data-name="Group 10108" transform="translate(13.41 11)">
                                                <g id="Trash_icon" data-name="Trash icon" transform="translate(0)">
                                                    <path id="Shape" d="M18.142,24.289H3.07A1.677,1.677,0,0,1,1.4,22.614V5.31H.838a.838.838,0,1,1,0-1.675h4.79a5.621,5.621,0,0,1,10.516,0h4.791a.838.838,0,0,1,0,1.675H19.817v17.3A1.677,1.677,0,0,1,18.142,24.289Zm-3.07-12a.839.839,0,0,1,.838.838v9.49h2.233V5.31H3.07v17.3H5.3v-9.49a.838.838,0,0,1,1.675,0v9.49H9.769V9.775a.837.837,0,0,1,1.674,0V22.614h2.792v-9.49A.838.838,0,0,1,15.072,12.286ZM10.886,1.681a3.544,3.544,0,0,0-3.5,1.953h7A3.6,3.6,0,0,0,10.886,1.681Z" fill="#fff"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="text">
                                    <h3>deleted !</h3>
                                    <h4>One of these banners has been deleted</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-form">
                    <div class="form-head">
                        <h3>@docSettings.DM_FormName</h3>
                    </div>                  
                    <form id="form" action="@entryFormURL" method="post" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="@docTypeColumn" value="@doctype">
                        <input type="hidden" class="form-control" name="@docNoColumn" value="@docno">
                         @{
                            
                            if (docSettings.dtData!=null||form!=false)
                            await Html.RenderPartialAsync("~" + entryformPartial, docSettings);
                        
                        else{
                                
                                <div class="home-content addnw">
                                    <div class="card-box">
                                        <h5>No Record Found..!</h5>
                                    </div>
                                </div>
                            }
                            }
                            
                    </form>
                </div>
            }
        }
    }
}

<style>
     .addnw .card-box {
    padding: 45px;
    }
    .card-box {
        width: 100%;
        background:red;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    }
    .form-wrap {
        position: relative;
    }

        .form-wrap textarea.editor {
            display: inline-block !important;
            height: 0px !important;
            visibility: hidden;
            padding: 0px !important;
            border: none !important;
            position: absolute;
            z-index: -1;
        }

        .form-wrap label.error {
            color: #fff !important;
            font-size: .7em !important;
            position: absolute;
            right: 2px;
            bottom: 0px;
            padding: 5px 10px !important;
            line-height: 10px;
            text-align: right;
            background-color: #ce010a;
            border-radius: 5px;
            box-shadow: 0 0 5px #ddd;
            width: auto !important;
            margin: auto;
            z-index: 1000;
        }
        .form-wrap .ck-content *{

        }

    .main_content .inner_content .main-form .form-wrap .radio-btns input[type=radio] {
        display: block !important;
        visibility: hidden;
        height: 0px;
        width: 100%;
        padding: 0px;
    }

    .main_content .inner_content .main-form .form-wrap .radio-btns .form-group {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    label#SHP_WorkingStatus-error, label#DNM_WorkingStatus-error, label#EJY_WorkingStatus-error {
        position: absolute !important;
    }

        label#SHP_WorkingStatus-error::before, label#DNM_WorkingStatus-error::before, label#EJY_WorkingStatus-error::before {
            background: none !important;
            border: none !important;
        }
</style>