@using System.Data;
@inject IConfiguration Configuration;
@{
    DataSet ds = Model;
    DataTable? dtFullData = new DataTable();
    string discription = "", Ardiscription = "";

    DataTable dtData = ds.Tables[0];
    DataTable dtAllimgdata = ds.Tables[1];
    DataRow row = dtData.Rows[0];
    ViewData["Page"] = "news-info";
    Layout = "~/Views/Shared/_ARLayout.cshtml";
   

    using (EzdanLibrary.DAL db = new EzdanLibrary.DAL(Configuration))
    {
        dtFullData = db.SqlDataSetResult("USP_Web_CompanyParameter", new List<System.Data.SqlClient.SqlParameter>()).Tables[0];

        discription = dtFullData.Rows[0]["COMPAR_Description"].ToString();
        Ardiscription = dtFullData.Rows[1]["COMPAR_Description"].ToString();
    }
}


<section class="banner mixb">
    <img src="/web_assets/images/cbanner.jpg" alt="">
    <div class="banner-overlay">
        <span>Ezdan mall - @discription</span>
        <h1>الإخبارية</h1>
    </div>
</section>

<div class="storedetails abtz">
    <div class="container-fluid">
        @{
            
                String NWS_Branch_Name = row["NWS_Branch_Name_Arabic"].ToString();
                ViewData["Title"] = NWS_Branch_Name;

                String NWS_Descriptin = row["NWS_Description_Arabic"].ToString();
                String NWS_BannerImage = row["NWS_BannerImage"].ToString();
                DateTime strDate = Convert.ToDateTime(row["NWS_Date"].ToString());
                String date = strDate.ToString("dd-MM-yyyy");
                var parts = date.Split('-');
                int day = Convert.ToInt16(parts[0]);
                int year = Convert.ToInt16(parts[2]);
                int month = Convert.ToInt16(parts[1]);
                string[] months = {"January", "February", "March", "April", "May", "June",
        "July", "August", "Setember", "October", "November", "December" };
                string newmonth = months[month - 1];
                string newdate = day + " " + newmonth + " " + year;
                String urlKey = row["NWS_URL_Key"] + "-" + row["NWS_DocNo"];
                <div class="row">
                    <div class="col-md-6">
                        <img src="@NWS_BannerImage" alt="" style="max-height:300px;object-fit:contain;">
                    </div>
                    <div class="col-md-6">
                        <div class="about-wrap">
                            <span>@day @newmonth , @year</span>
                            <h3>@NWS_Branch_Name</h3>
                            <p>@Html.Raw(dtData.Rows[0]["NWS_Description_Arabic"])</p>
                        </div>
                    </div>
                </div>
            
        }
    </div>
</div>
<div class="youmayalsolike">
    <h2>أخبار ذات صلة</h2>
    <div class="owl-carousel othernewscar owl-loaded owl-drag" id="News">
        @{
            foreach (DataRow row1 in dtAllimgdata.Rows)
            {
                NWS_Branch_Name = row1["NWS_Branch_Name_Arabic"].ToString();
                NWS_Descriptin = row1["NWS_Description_Arabic"].ToString();
                 NWS_BannerImage = row1["NWS_BannerImage"].ToString();
                urlKey = row1["NWS_URL_Key"] + "-" + row1["NWS_DocNo"];
                strDate = Convert.ToDateTime(row1["NWS_Date"].ToString());

                <div class="newsitem" data-hover>
                    <a href="/ar/news-info/@urlKey">
                        <div class="newsimage">
                            <img src="@NWS_BannerImage">
                        </div>
                    </a>
                    <div class="newsdetails">
                        <div style="overflow:hidden;height:100px;">
                            <h4>@Html.Raw(NWS_Branch_Name)</h4>
                        </div>
                        <h5>@strDate.ToString("dd MMMM, yyyy")</h5>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="/web_assets/js/owl.js"></script>
<script>
    $(document).ready(function() {
        $('#News').owlCarousel({
            rtl: $('body').hasClass('rtl'),
            margin: 15,
            stagePadding: 0,
            nav: false,
            autoplay: true,
            autoplayTimeout: 2500,
            loop: true,
            smartSpeed: 1050,
            items: 4,
            responsive:{
              0:{
                  items:1
              },
              600:{
                  items:2
              },
              1000:{
                  items:4
              }
          }
        });
    });
</script>

