@using System.Data;
@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "Promotions";
    ViewData["Page"] = "Promotions";
    Layout = "~/Views/Shared/_ARLayout.cshtml";

    DataSet ds = Model;
    DataTable? dtFullData = new DataTable();


    string discription = "", Ardiscription = "";

    DataTable dtData = ds.Tables[0];
    DataTable dtCategories = ds.Tables[1];


    using (EzdanLibrary.DAL db = new EzdanLibrary.DAL(Configuration))
    {
        dtFullData = db.SqlDataSetResult("USP_Web_CompanyParameter", new List<System.Data.SqlClient.SqlParameter>()).Tables[0];

        discription = dtFullData.Rows[0]["COMPAR_Description"].ToString();
        Ardiscription = dtFullData.Rows[1]["COMPAR_Description"].ToString();
    }


    //String POM_StartDate = Convert.ToDateTime(dtData.Rows[0]["POM_StartDate"].ToString()).ToString("dd MMM yyyy");
    //String POM_EndDate = Convert.ToDateTime(dtData.Rows[0]["POM_EndDate"].ToString()).ToString("dd MMM yyyy");
}
<section class="banner mixb">
    <img src="/web_assets/images/cbanner.jpg" alt="">
    <div class="banner-overlay">
        <span>ازدان مول - @Ardiscription</span>
        <h1>الترقيات</h1>
    </div>
</section>

<section class="promo-blk storeslistandfilter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="storesfilter">
                    <button class="advancedfilter">
                        <span class="filtericon"></span> التصفية
                    </button>
                    <ul class="category-filter filter-button-group">
                        <li class="active" data-filter="*">جميع الفئات</li>
                        @{
                            foreach (DataRow row in dtCategories.Rows)
                            {
                                <li data-filter=".@row["CAT_DocNo"]">@row["CAT_Description_Arabic"]</li>
                            }
                        }
                    </ul>
                </div>

                <div class="allpromotionslist">
                    <ul class="grid">

                        @{
                            foreach (DataRow row in dtData.Rows)
                            {
                                String POM_StartDate = Convert.ToDateTime(row["POM_StartDate"].ToString()).ToString("dd MMM yyyy");
                                String POM_EndDate = Convert.ToDateTime(row["POM_EndDate"].ToString()).ToString("dd MMM yyyy");

                                String urlKey = row["POM_URL_Key"] + "-" + row["POM_DocNo"];
                                <li class="grid-item @row["SHP_CAT_DocNo"]">
                                    <div class="offeritem" data-hover="">
                                        <div class="offerimage">
                                            <div class="offerlogo">
                                                <img src="@row["SHP_Logo"]">
                                            </div>
                                        </div>
                                        <div class="offerdetails">
                                            <div class="taganddate">
                                                <span class="malltag" style="padding:16px 19px 0 0;" dir="rtl">@row["POM_OfferTag_Arabic"]</span>
                                                <span class="offerdate" dir="rtl">@POM_StartDate - @POM_EndDate</span>
                                            </div>
                                            <h4 dir="rtl">@row["POM_OfferTitle_Arabic"]</h4>
                                            <h5 dir="rtl">@Html.Raw(row["POM_Description_Arabic"])</h5>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

    .rtl .offeritem .offerdetails {
        padding: 16px 19px 0 0;
    }

    body.rtl, .rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .rtl a, .rtl p, .rtl div, .rtl .a-form-group input, .rtl span, .rtl li, .rtl label {
        font-family: 'Cairo', sans-serif !important;
        letter-spacing: 0 !important;
    }
    .offeritem{
        overflow:hidden;
    }

    .offeritem .offerdetails h4 {
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
        color: #424242;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        padding-top: 13px;
        margin: 0 0 0.5rem;
    }

    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
</style>



